<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Grootify</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">



</head>

<div class="header">
    <div class="container-fluid container-sm  ">
        <nav class=" navbar navbar-expand-sm bg-info ">
            <img src="./images/logo.png" width="30" height="30" alt="" class="mr-2">
            <a href="/" class="navbar-brand">GROOTIFY</a>
            <a class="navbar-toggler  navbar-light" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>

            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item ">
                        <a class="nav-link " href="/"></a>
                    </li>
                </ul>
                <% if(curuser){ %>
                    <ul class="navbar-nav mr-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout</a>
                        </li>
                    </ul>
                    <% } %>
            </div>
        </nav>
    </div>
</div>

<%- body %>

    <div class="footer">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
        </body>
</html>
</div>